<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="/js/dashboard.js"></script>
    </head>
    <body>
        <div>What would you like to do today?</div>
        <form id="logout" onsubmit="return false">
            <input type="submit" value="Log Out">
        </form><br><br>
        <form action="/ttt/play" method="GET">
            <input type="submit" value="Play Tic-Tac-Toe">
        </form>
        <form action="/listgames" method="POST">
            <input type="submit" value="List Games">
        </form>
        <form action="/getscore" method="POST">
            <input type="submit" value="Get Score">
        </form>
    </body>
</html>