<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/game.css">
        <script src="game.js"></script>
    </head>
    <body>
        <div>Welcome to Tic-Tac-Toe</div>
        <form id="logout" onsubmit="return false">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>