<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/login.css">
        <script src="/js/login.js"></script>
    </head>
    <body>
        <div id="greeting">Welcome!</div>
        <img src='/img/gorilla.png'></img>
        <form id="register" onsubmit="return false">
            <label>E-mail:</label><input type="email" name="email" required><br>
            <label>Username:</label><input type="text" name="username" required><br>
            <label>Password:</label><input type="password" name="password" required><br>
            <input type="submit" value="Register">
        </form><br><br>
        <form id="login" onsubmit="return false">
            <label>Username:</label><input type="text" name="username" required><br>
            <label>Password:</label><input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        </div>
    </body>
</html>