<!doctype html>
<html>
    <head>
        <meta name="id" content="61f4987cee02ae72472415e3">
        <link rel="stylesheet" href="/css/tictactoe.css">
        <script src='/js/tictactoe.js'></script>
    </head>
    <body>
        <div id="display">Welcome to Tic-Tac-Toe!</div>
        <div class="board">
            <button id='0' onclick='clicked(0)'></button>
            <button id='1' onclick='clicked(1)'></button>
            <button id='2' onclick='clicked(2)'></button>
            <button id='3' onclick='clicked(3)'></button>
            <button id='4' onclick='clicked(4)'></button>
            <button id='5' onclick='clicked(5)'></button>
            <button id='6' onclick='clicked(6)'></button>
            <button id='7' onclick='clicked(7)'></button>
            <button id='8' onclick='clicked(8)'></button>
        </div> <br>
        <form action="/dashboard" method="GET">
            <input type="submit" value="Dashboard">
        </form>
    </body>
</html>
