<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/welcome.css">
    </head>
    <body>
        <img src='/gorilla.png'></img>
        <form action="http://localhost:8080/adduser" method="post">
            <label>E-mail:</label><input type="email" name="email" required><br>
            <label>Username:</label><input type="text" name="username" required><br>
            <label>Password:</label><input type="password" name="password" required><br>
            <input type="submit" value="Register">
        </form><br><br>
        <form action="http://localhost:8080/login" method="post">
            <label>Username:</label><input type="text" name="username" required><br>
            <label>Password:</label><input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        </div>
    </body>
</html>